input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: .25rem 0;
    box-sizing: border-box;
  }

table {
    border-collapse: collapse;
    border: 1px solid black;
}

  th {
      text-align: right;
      border-right: 1px solid black;
  }

  th, td {
      padding: .5rem;
  }

  button {
    padding: .75rem;
    font-size: 1rem;
    margin: .5rem .5rem .5rem 0rem;
    border-radius: 2px;
    border: none;
   }
   
   button:hover {
     color: white;
     background-color: #42545C;
   }