input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: .25rem 0;
    box-sizing: border-box;
  }

table, tr {
    border-collapse: collapse;
}

  th {
      text-align: right;
      border-right: 1px solid black;
  }

  th, td {
      padding: .5rem;
  }