<h2>My Heroes</h2>
<ng-container *ngIf="displayAdd; else hideAdd">
    <button class="add-button" (click)="displayAdd=false">Close</button>
    <div>
        <label for="new-hero-name">Hero name: </label>
        <input id="new-hero-name" #heroName />
        <label for="new-hero-hometown">Hometown: </label>
        <input id="new-hero-hometown" #heroHometown />
        <label for="new-hero-powers">Powers (please separate with a comma): </label>
        <input id="new-hero-powers" #heroPowers />

        <!-- (click) passes input value to add() and then clears the input -->
        <button class="add-button"
            (click)="add(heroName.value, heroHometown.value); heroName.value=''; heroHometown.value=''">
            Save
        </button>
    </div>
</ng-container>

<ng-template #hideAdd>
    <button class="add-button" (click)="displayAdd=true">Add Hero</button>
</ng-template>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>